    <form class="well" name="tires" novalidate>
    	<h1>Menú de Llantas</h1>
        <label>Descripción</label>
        <input type="text" name="name" ng-model="newLlan.name" requiered/>
        <label>Precio</label>
        <input type="number" name="price" ng-model="newLlan.price" requiered/>
        <br/>
        <input type="hidden" ng-model="newLlan.id" />
        <input type="button" value="Guardar" ng-click="tires.$valid && saveLlan()" class="btn btn-primary" />
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="llanta in llantas">
                <td>{{ llanta.name }}</td>
                <td>{{ llanta.price | currency}}</td>
                <td><input type="button" value="Editar" ng-click="edit(llanta.id)" class="btn btn-warning" />| <input type="button" value="Borrar" ng-click="delete(llanta.id)" class="btn btn-danger" />

                </td>
            </tr>
        </tbody>
    </table>
</div>